name: Regression Check

on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  Ubuntu:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [g++-10, clang++-13]
        target: [native, nopopcnt, popcnt, pext, popcnt-avx2, pext-avx2]

    steps:
      - uses: actions/checkout@v4.1.1
        # we need to make sure we checkout the head commit, rather than the merge commit the github actions pipeline generates for us.
        # This ensures we can extract the expected bench from the commit message.
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Create build
        run: |
         cd src
         make ${{ matrix.target }} CXX=${{ matrix.compiler }} EXE=../bin/Halogen -j2

      - name: Check bench matches commit message
        run: |
          cd bin
          commit_bench=$(git show --summary | grep -o "Bench: [0-9]*" | awk '{ print $NF }')
          actual_bench=$(./Halogen bench | tail -1 | grep -o "^[0-9]*")
          if [[ "$actual_bench" != "$commit_bench" ]]; then echo "Incorrect bench, got '$actual_bench' expected '$commit_bench'" && exit 1; else echo "Got correct bench $actual_bench"; fi
          

  Windows:
    runs-on: windows-latest

    strategy:
      matrix:
        config: 
          - { system: mingw64, package: x86_64-gcc, compiler: g++ }
          - { system: clang64, package: clang-x86_64-clang, compiler: clang++ }
        target: [native, nopopcnt, popcnt, pext, popcnt-avx2, pext-avx2]

    steps:
      - uses: actions/checkout@v4.1.1
        # we need to make sure we checkout the head commit, rather than the merge commit the github actions pipeline generates for us.
        # This ensures we can extract the expected bench from the commit message.
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: msys2/setup-msys2@v2.22.0
        with:
          msystem: ${{matrix.config.system}}
          install: mingw-w64-${{matrix.config.package}} make git

      - name: Add compiler to $PATH env
        shell: bash
        run: echo "PATH=$PATH:/c/msys64/${{ matrix.config.system }}/bin" >> $GITHUB_ENV

      - name: Create build
        shell: msys2 {0}
        run: |
         cd src
         make ${{ matrix.target }} CXX=${{ matrix.config.compiler }} EXE=../bin/Halogen.exe -j2

      - name: Check bench matches commit message
        shell: msys2 {0}
        run: |
          cd bin
          commit_bench=$(git show --summary | grep -o "Bench: [0-9]*" | awk '{ print $NF }')
          actual_bench=$(./Halogen bench | tail -1 | grep -o "^[0-9]*")
          if [[ "$actual_bench" != "$commit_bench" ]]; then echo "Incorrect bench, got '$actual_bench' expected '$commit_bench'" && exit 1; else echo "Got correct bench $actual_bench"; fi
         
  Debug:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [g++-13, clang++-15]

    steps:
      - uses: actions/checkout@v4.1.1

      - name: Create debug compiles
        run: |
         cd src
         make debug CXX=${{ matrix.compiler }} EXE=../bin/Halogen -j2
         
      - name: Run bench
        run: |
         cd bin
         ./Halogen bench 4

  Sanitizer:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [g++-13, clang++-15]
        target: [sanitize-address, sanitize-undefined, sanitize-thread]

    steps:
      - uses: actions/checkout@v4.1.1

      - name: Create sanitizer builds
        run: |
          cd src
          make ${{ matrix.target }} CXX=${{ matrix.compiler }} EXE=../bin/Halogen -j2
          
      - name: Run
        run: |
          cd bin
          ./Halogen <<EOF
            setoption name Threads value 2
            setoption name MultiPV value 8
            position startpos moves e2e4 e7e5
            go wtime 1000 btime 1000 winc 1000 binc 1000 movestogo 20
            go movetime 10000
          EOF
