name: Ubuntu

# Test that we get a deterministic 'bench' result across a variety of compilers and platforms. We try to use a older 
# compiler here, to ensure we maintain a reasonable level of compatibility, and make it easy for people to build 
# Halogen

on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  Ubuntu:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    strategy:
      matrix:
        include:
          # x86_64 builds
          - { os: ubuntu-22.04, config: { compiler: g++-11, packages: g++-11, profdata: NA } }
          - { os: ubuntu-22.04, config: { compiler: clang++-15, packages: "clang-15 llvm-15", profdata: llvm-profdata-15 } }
          # arm64 builds
          - { os: ubuntu-22.04-arm, config: { compiler: g++-11, packages: g++-11, profdata: NA } }

    steps:
      - uses: actions/checkout@v4.1.1
        # we need to make sure we checkout the head commit, rather than the merge commit the github actions pipeline generates for us.
        # This ensures we can extract the expected bench from the commit message.
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install
        run: |
          sudo apt update
          sudo apt install ${{ matrix.config.packages }}

      - name: Create build
        working-directory: src
        run: make pgo CXX=${{ matrix.config.compiler }} LLVM_PROFDATA=${{ matrix.config.profdata }} EXE=../bin/Halogen -j

      - name: Check bench matches commit message
        run: |
          cd bin
          commit_bench=$(git show --summary | grep -o "Bench: [0-9]*" | awk '{ print $NF }')
          actual_bench=$(./Halogen bench | tail -1 | grep -o "^[0-9]*")
          if [[ "$actual_bench" != "$commit_bench" ]]; then echo "Incorrect bench, got '$actual_bench' expected '$commit_bench'" && exit 1; else echo "Got correct bench $actual_bench"; fi
          
